include mixins/helpers
extends index

append styles
    mixin css('/vendor/qunit/themes/qunit.css')
    mixin css('/vendor/qunit/theme-picker.css')

block content
    .inner(style='padding:1em')
        #qunit
    
    .test-graph(data-limn-graph='unique_visitors', data-options='{ "template":"graph-chart-only" }')

append defs
    .tests
        block tests
            script(src="/vendor/qunit/qunit.js")
            script(src="/vendor/qunit/theme-picker.js")
            
            for test in findTests()
                script(src=path.join(mount, test))
            
            script
                limn.test = require('limn/test');
