extends ../index

block content
    section.api-graphs
        h2 Graphs Rendered via Markup API
        
        .test-graph.test-markup-override-template(data-limn-graph='unique_visitors', data-options='{ "template":"graph-chart-only" }')
    

